#log{
  margin-top: 5%;
}

form {
  position: relative;
  width: 20%;
  margin: auto;
  background: rgba(130,130,130,.3);
  padding: 20px 22px;
  border: 1px solid;
}

form input, form button {
  width: 90%;
  border: 1px solid;
  background-color: rgba(0,0,0,.2);
  text-shadow: 0 1px 0 black;
  background-repeat: no-repeat;
  padding: 8px 24px 8px 10px;
  font: sans-serif;

  margin-bottom: 19px;
  color: black;
}

form input{
  padding-right: 8px;
  width: 80%inherit;
  background-position: right 3% top 40%;
}


form input.email {
  padding-right: 8px;
  width: 80%inherit;
  background-position: right 3% top 40%;
  background-image: url(emailicon.png);
}

form input.pass {
  padding-right: 8px;
  width: 80%inherit;
  background-position: right 3% top 40%;
  background-image: url(passwordicon.png);
}


form button[type=submit] {
  width: 50%;
  margin-bottom: 0;
  color: black;
  text-shadow: 0 1px 0 black;
  text-transform: uppercase;
  background: rgba(0,0,0,.2);
  cursor: pointer;
}
